* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url("../background.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
}
section {
    /* 相对定位 */
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    padding-top: 3%;
    background: rgba(255, 255, 255, 0.3);
    /*display: flex;*/
    justify-content: center;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}