/* 清除浏览器默认边距，
使边框和内边距的值包含在元素的width和height内 */
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* 使用flex布局，让内容垂直和水平居中 */
body{
    background-image: url("background.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
 }
section {
    /* 相对定位 */
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background-image: url('C:\Users\hp\Desktop\登录\img\2.png');*/
}
 
/* 背景颜色 */
 /*
section .color {
    position: absolute;
    filter: blur(200px);
}
 
/* :nth-child(n) 选择器匹配父元素中的第 n 个子元素 */
 /*
section .color:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background: #ff359b;
}
 
section .color:nth-child(2) {
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #fffd87;
}
 
section .color:nth-child(3) {
    bottom: 50px;
    right: 100px;
    width: 500px;
    height: 500px;
    background: #00d2ff;
}
 
.box {
    position: relative;
	border-radius: 10px;
}*/
 
/* 背景圆样式 */
 /*
.box .circle {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;

    filter: hue-rotate(calc(var(--x) * 70deg));

    animation: animate 10s linear infinite;

    animation-delay: calc(var(--x) * -1s);
}*/
 
/* 背景圆动画 */
 /*
@keyframes animate {
    0%, 100%, {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(50px);
    }
}
 
.box .circle:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
 
.box .circle:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
 
.box .circle:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
 
.box .circle:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 60px;
    height: 60px;
}
 
.box .circle:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}*/
 
/* 登录框样式 */
 
.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
 
.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
}
.checkip {
	position: absolute;
	left:0px;
	bottom:-10px;
    width: 100%;
	height: 6%;
}
 
/* 登录标题样式 */
 
.form h2 {
    position: relative;
    color: #00aaff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}
 
/* 登录标题的下划线样式 */
 
.form h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0px;
    height: 3px;
    background: #fff;
    transition: 0.5s;
}
 
.form h2:hover:before {
    width: 53px;
}
 
.form .inputBox {
    width: 100%;
    margin-top: 20px;
}

.checkip .inputText {
    width: 100%;
	height:100%;
    margin-top: 20px;
}

/* 输入框样式 */
 
.form .inputBox input {
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #666;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

/*
.form .inputBox button {
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #666;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}*/

/* 下面的ip */
.checkip .inputText input {
	position: absolute;
	width:55%;
	right:20%;
	bottom:50%;
    background: rgba(255, 255, 255, 0);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);
    font-size: 14px;
    letter-spacing: 1px;
    color: #00aaff
    
}
 
.form .inputBox input::placeholder {
    color: #666;
}
 
/* 登录按钮样式 */
 
.form .inputBox input[type="submit"] {
    background: #fff;
    color: #666;
    max-width: 100px;
    margin-bottom: 20px;
    font-weight: 600;
    cursor: pointer;
}
 
 /*
.form .inputBox button[type="button"] {
    background: #fff;
    color: #666;
    max-width: 300px;
    margin-bottom: 20px;
    font-weight: 600;
    cursor: pointer;
} */
 
.forget {
    margin-top: 6px;
    color: #236;
    letter-spacing: 1px;
}
.goto {
	position: absolute;
	right:3%;
	bottom:50%;
	margin-top: 6px;
    color: #236;
    letter-spacing: 1px;
}

.goto a {
	font:12px;
    color: #aaaa00;
    font-weight: 600;
    text-decoration: none;
}
 
.forget a {
    color: #236;
    font-weight: 600;
    text-decoration: none;
}

.forget button{
	;
}

